
<ul>
  <% @user_tasks.each do |t| %>
    <li><%= t.name %></li>
    <%= Task.status(t) %>
    <%if t.user_id == current_user.id%>
      <%= button_to "Edit", edit_task_path(t.id), method: :get %>
    <%end%>
  <%end%>
</ul>
