<h1> <%= @group_task.name %> </h1>
<h3> Due Date:<%= @group_task.due_date %> </h3>
<h3> <%= GroupTask.group_task_progress(@group_task) %> </h3>

<br>

<%= link_to 'Add Task to This Group Task', new_group_task_task_path(@group_task), { :class=>"button" } %>

<div class="tasks_container"></div>


<script type="text/javascript" charset="utf-8">

$(function() {
  $.get(window.location.href + ".json").success(function(json){
      $("div.tasks_container").append(json[0].name);
    });
});
</script>
